### This notebook is my work on personal simple algorithms for practice

###### Function 1: Create a mock dataframe with information

In [25]:
import pandas as pd

col_names = ["snoop", "doop", "troop", "goop"]
index_names = ["a", "b","c","d"]

print(col_names)
df = pd.DataFrame(data=((1,2,3,1),(4,5,6,1),(7,8,9,1),(10,11,12,1)), columns=col_names, index=index_names)
display(df)

['snoop', 'doop', 'troop', 'goop']

   snoop  doop  troop  goop
a      1     2      3     1
b      4     5      6     1
c      7     8      9     1
d     10    11     12     1